<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.landi.landicalendar">

    <application>
        <activity android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.landi.landicalendar.week.WeekActivity" />
        <activity android:name="com.landi.landicalendar.month.MonthActivity" />
        <activity android:name="com.landi.landicalendar.day.DayActivity" />
        <activity android:name="com.landi.landicalendar.day.DayFutureActivity" />
    </application>

</manifest>